<h1> Welcome to Rewsly </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    </tr>

    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.category %></td>
       
       <td><%= link_to 'Show', article_path(article) %></td>
       

      </tr> 
      <% end%>

    </table>

<br>
 <h3>
<%=form_tag articles_path,method:'Get' do %>
  <%=text_field_tag :q, params[:q]%>
  <%=submit_tag 'Search' %>
<%end%>
</h3>


      <%= link_to 'New Story', new_article_path %>

