<h1>Choose one of the 4 options</h1>
<p> Choose carefully....you only get one try</p>
<ul>
<%= bird_names.bird_photo%>
<li><%= link_to bird_names.bird_name, bird_name_path(bird_name)%></li>
<li><%= link_to bird_names.name1.error,bird_name_path(name1.error)%></li>
<li><%= link_to bird_names.name2.error,bird_name_path(name2.error)%></li>
<li><%= link_to bird_names.name3.error,bird_name_path(name3.error)%></li>



 